html, body {
}

.header{
    font-family: Verdana;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid black;
    padding: 10px 20px;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    color: MediumAquamarine;
    font-size: 14px;
    padding-left: 10px;
}

.nav-links {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-links a{
    text-decoration: underline;
    color:black;
}

div {
  border: 1px solid black;
}

.column{
    display:flex;
    justify-content: space-between;
}

.column.large {
    width: 630px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column.medium {
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column.small {
    width: 240px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
#main-story{
  font-size: 40px;    
}
.story p{
  font-family: Georgia;
  font-weight: bold;
  color: white;
    margin: 0;
    padding: 0;
}

.story{
    height: 300px;
}

#image-story{
  font-size: 30px;    
}

#tuna{
    background-image: url(../images/img-story-main.png);
    display: flex;
    align-items: flex-start;
    background-size: auto 100%;
}
#earth{
    background-image: url(../images/img-story-2.png);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#camera{
    background-image: url(../images/img-story-3.png);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#cat{
    background-image: url(../images/img-story-1.png);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}